html {
  scroll-behavior: smooth;
}
.banner-admision {
  background-image:url("../img/niveles_orion.jpg"); /* Agrega la ruta de la imagen */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70vh;
}
.banner-admision .content {
  background: rgba(194, 192, 192, 0.87);
  padding: 2rem 3rem;
  border-radius: 1.5rem;
  backdrop-filter: blur(5px);
}
.banner-admision p {
  max-width: 550px;
  width: 100%;
  text-align: center;
  font: normal normal 400 1rem/2rem var(--font-primary);
}

.banner-admision h3 {
  font: normal normal 700 2.2rem/2rem var(--font-primary); /* Aumenta el tamaño de 1.7rem a 2.5rem */
}

.banner-admision span {
  font: normal normal 600 1.3rem/1rem var(--font-primary); /* Aumenta el tamaño de 1rem a 1.5rem */
}
h3,
p,
h6,
a,
b {
  font-family: var(--font-primary) !important;
}
p {
  opacity: 0.7;
  font: normal normal 400 1rem/2rem var(--font-primary);
}
b {
  opacity: 0.9;
  font: normal normal 600 1rem/2rem var(--font-primary);
}
h6 {
  font: normal normal 600 1.2rem var(--font-primary);
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.button {
  padding: 0.5rem 1.5rem !important;
  text-decoration: none;
  border-radius: 0.3rem;
  transition: 0.3s;
  margin-top: 2rem;
  display: block;
  width: fit-content;
  align-items: center;
}
a:hover {
  filter: brightness(0.8);
}
.image__admision {
  object-fit: cover;
  border-radius: 0.5rem;
  height: 100% !important;
}
.title__admision {
  color: rgb(177, 22, 22);
  font-weight: 600;
  margin-bottom: 2rem;
}
.title__admision i {
  margin-right: 1rem;
}
.container__section {
  padding: 8rem 0 !important;
}

.button{
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  transition: transform 0.2s, background-color 0.3s ease;
  animation: pulse 3s infinite;
  display: inline-block;
}
.button:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

footer img {
  margin-top: 25px;
}

.banner-admision h3 span {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
