.banner-noticias {
  background-image: url("../img/bannernoticias.png");
  background-size: cover;
  width: 100%;
  height: 60vh;
}
.dark-container {
  background-color: #333333af; /* Puedes ajustar este color oscuro según lo desees */
  padding: 20px; /* Opcional: Añade padding para separar el contenido del borde */
  border-radius: 12px;
}

.list-group {
  border-radius: 0px;
  box-shadow: 0px 5px 5px rgb(128, 128, 128);
  border: none;
}

.list-group-item.active {
  background-color: #173f78;
  border: none;
  box-shadow: 0px 2px 5px 0px rgb(124, 124, 124);
}

.list-group-item {
  transition: background-color 0.3s, color 0.3s;
}

.list-group-item:hover {
  background-color: #3268aa;
  color: white;
}

.list-group-item i {
  position: absolute;
  right: 30px;
}

.card-noticia a {
  background-color: #c09f62;
  color: white;
}

.card-noti-content {
  border: none;
  box-shadow: 0px 0px 5px gray;
}

.noticia-principal {
  background-color: transparent;
  position: relative;
  margin-bottom: 40px;
}
.noticia-principal .noticia-pagina {
  position: relative;
  width: 350px;
  height: 250px;
  background-color: rgb(143, 143, 143);
  overflow: hidden;
}
.noticia-principal .noticia-pagina .imagen-noticicia {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.noticia-principal .noticia-descipcion {
  background-color: #ffffff;
  position: absolute;
  width: 600px;
  height: 220px;
  left: 315px;
  top: 15px;
  flex-direction: column;
  padding: 30px;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.noticia-descipcion h5{
  text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

@media (max-width: 977px) {
  .noticia-principal .noticia-descipcion {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .noticia-principal .noticia-pagina {
    width: 100%;
  }
  .noticia-principal {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .noticia-principal .noticia-descipcion {
    left: 0;
    top: 0;
    position: relative;
    width: 90%;
  }
}
.notfound__notices {
  display: grid;
  width: 100%;
  place-items: center;
  margin: 4rem 0;
}
.notfound__notices p {
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  max-width: 300px;
  color: #707070;
  margin-top: 1rem;
}
.notfound__notices span {
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
  max-width: 500px;
  color: #707070;
  margin-top: 0.5rem;
}
.notfound__notices img {
  width: 150px;
}
.noticia-principal div,
.noticia-principal h5,
.noticia-principal p,
.noticia-principal img {
  pointer-events: none;
}
.noticia-principal:hover .noticia-descipcion {
  background-color: #173f78;
  color: white;
}
.noticia-principal {
  cursor: pointer;
}

h3,
h1,
h2,
p,
h6,
a {
  font-family: var(--font-primary) !important;
}
#loader-categoria-algo {
  display: grid;
  padding: 1rem;
}
.noticia-descipcion__nostyle{
  overflow: hidden;
}