/*PAGINA REGLAMENTACION*/
.background-container {
  background-image: url("../img/reglamentacion.jpg"); /* Agrega la ruta de la imagen */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.dark-container-regla{
  background-color: #333333af; /* Puedes ajustar este color oscuro según lo desees */
  padding: 20px; /* Opcional: Añade padding para separar el contenido del borde */
  border-radius: 12px;
}

.reglamentacion .container .title-regla h3 {
  font-weight: bold;
  margin-top: 150px;
  margin-bottom: 150px;
  text-shadow: -10px 10px 7px rgb(114, 114, 114);
}
.perfil-estudiantil h4 {
  color: rgb(177, 22, 22);
  margin-top: 50px;
}
.perfil-estudiantil h4 i {
  margin-right: 5px;
  color: rgb(177, 22, 22);
  padding: 2px;
}
.perfil-estudiantil h5 {
  margin-bottom: 0;
  margin-left: 10px;
  display: flex;
  margin-top: 50px;
}
.perfil-estudiantil h5 .custom-arrow {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  margin-top: 5px;

  background-color: rgb(177, 22, 22); /* Color de la flecha */
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  margin-left: 0px; /* Espacio entre el enlace y la flecha */
}

.perfil-estudiantil .raya-h5 {
  color: rgb(177, 22, 22);
  height: 2px;
  border: 1px solid rgb(177, 22, 22);
  opacity: 1;
  width: 300px;
  margin-top: 5px;
  margin-left: 10px;
}

.perfil-estudiantil p {
  margin-bottom: 2px;
  margin-left: 15px;
}

.perfil-padre h4 {
  margin-top: 100px;
  color: rgb(177, 22, 22);
}
.perfil-padre h4 i {
  margin-right: 5px;
  color: rgb(177, 22, 22);
  padding: 2px;
}
.perfil-padre h5 {
  margin-bottom: 0;
  margin-left: 10px;
  display: flex;
  margin-top: 50px;
}
.perfil-padre h5 .custom-arrow {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  margin-top: 5px;

  background-color: rgb(177, 22, 22); /* Color de la flecha */
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  margin-left: 0px; /* Espacio entre el enlace y la flecha */
}
.perfil-padre .raya-h5 {
  color: rgb(177, 22, 22);
  height: 2px;
  opacity: 1;
  width: 300px;
  margin-top: 5px;
  margin-left: 10px;
}
.perfil-padre p {
  margin-bottom: 2px;
  margin-left: 15px;
}

.reglamento-alumno h4 {
  margin-top: 100px;
  color: rgb(177, 22, 22);
}
.reglamento-alumno h4 i {
  margin-right: 5px;
  color: rgb(177, 22, 22);
  padding: 2px;
}
.reglamento-alumno h5 {
  margin-bottom: 0;
  margin-left: 10px;
  display: flex;
  margin-top: 50px;
}
.reglamento-alumno h5 .custom-arrow {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  margin-top: 5px;

  background-color: rgb(177, 22, 22); /* Color de la flecha */
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  margin-left: 0px; /* Espacio entre el enlace y la flecha */
}
.reglamento-alumno .raya-h5 {
  color: rgb(177, 22, 22);
  height: 2px;
  border: 1px solid rgb(177, 22, 22);
  opacity: 1;
  width: 300px;
  margin-top: 5px;
  margin-left: 10px;
}
.reglamento-alumno p {
  margin-bottom: 2px;
  margin-left: 15px;
}
.reglamento-alumno h6 {
  margin-left: 10px;
  text-decoration: underline;
}
.reglamento-alumno .span {
  margin-top: 300px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px;
  margin-right: 200px;
  color: #2788ff;
}